body {
  background-color: #e0e0e0;
  font-family: "Roboto", sans-serif; }

.description-box {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #f7f7f7;
  border-radius: 2rem;
  width: 80%; }
  .description-box .title {
    color: #e27115;
    padding-top: 1rem;
    padding-left: 1.5rem;
    font-size: 1.5rem; }
  .description-box .title-underline {
    margin-top: 0rem;
    border: 2px solid #e27115;
    width: 100px;
    margin-left: 1.5rem;
    transition: 0.2s width ease-out; }
  .description-box .description-text {
    font-size: 1.2rem;
    line-height: 1.5rem;
    width: 90%;
    padding-bottom: 1.5rem;
    color: #7e7e7e; }
  .description-box .vector-img {
    transition: transform 0.2s ease-out; }

.description-box:hover .title-underline {
  width: 120px; }

.vector-img:hover {
  transform: translateY(-0.5rem); }
