body {
  background-color: #e0e0e0;
  font-family: "Roboto", sans-serif; }

#contact-info-sidebar, #contact-form {
  background-color: #f7f7f7;
  border-radius: 1rem; }

#contact-form {
  margin-left: 1.5rem;
  width: 95%; }

.contact-bar-row {
  padding-top: 2rem;
  padding-bottom: 1rem; }
  .contact-bar-row .contact-bar-icon {
    color: #e27115;
    font-size: 2rem;
    transition: 0.2s transform ease-out; }
  .contact-bar-row .contact-bar-title {
    color: #666666;
    font-size: 1.3rem;
    font-weight: 600; }
  .contact-bar-row .contact-bar-desc {
    color: #6e6e6e;
    padding-top: .3rem; }

.contact-bar-row:hover .contact-bar-icon {
  transform: translateY(-0.5rem); }

.contact-form-title {
  color: #e27115;
  padding-top: 2rem;
  padding-left: 1.5rem;
  font-size: 1.5rem; }

.title-underline {
  margin-top: 0rem;
  border: 2px solid #e27115;
  width: 130px;
  margin-left: 1.5rem;
  transition: 0.2s width ease-out; }

#contact-form:hover .title-underline {
  width: 145px; }

.form-control {
  width: 100% !important;
  margin-top: 1rem; }

.form-label .content-name {
  padding-left: .5rem;
  transform: translateY(-2rem);
  color: #7e7e7e;
  transition: .2s transform ease-out; }

.form-control:focus + .form-label .content-name,
input:valid + .form-label .content-name {
  opacity: 100%;
  transform: translateY(-4rem);
  font-size: 0.9rem;
  color: #fc8931; }

#message-field {
  transform: translateY(-1rem);
  height: 250px; }

#contact-btn {
  background-color: #fc8931 !important;
  color: white;
  width: 150%;
  border-radius: 2rem;
  margin-bottom: 2rem; }

#contact-btn:hover {
  background-color: #ff7c00 !important; }
