#reset-password-block {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
}
#form-box {
  margin-top: 10vh;
  margin-bottom: 15vh;
}
#email-text {
  text-align: center;
}
#reset-password-button {
  display: grid;
  grid-template-columns: 0.5fr 5fr 0.5fr;
  padding-top: 1rem;
}

#btn-center {
  text-align: center;
}
.reset-button {
  background-color: orangered;
  width: 50%;
  padding: 12px 20px 12px 20px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}
