.thead {
  background-color: #ff7b00;
  color: white;
}
.list-entry {
  cursor: pointer;
}
.list-entry:hover {
  background-color: #fc8f2a;
  color: white;
}
.perform-action {
  background-color: #fc8f2a;
  width: 120%;
  border-radius: 2rem;
  color: white;
}

#btn-text {
  font-size: 1.2rem;
}
.perform-action:hover {
  color: white;
  background-color: #ff7b00;
}
#check:checked ~ .sidebar a {
  margin-left: 0px;
}
#profile-pic-container {
  margin-left: 5rem;
}
#profile-picture {
  border-radius: 2rem;
}

#calendar {
  color: grey;
  font-size: 0.7rem;
  margin-top: 0.4rem;
  margin-left: 0.5rem;
}
#address-title,
#contact-title,
#dob-title {
  color: rgb(85, 85, 85);
  font-weight: 500;
  width: 5rem;
}
#user-address,
#user-contact,
#user-dob {
}

#user-name {
  font-size: 2rem;
}
#detail-sections-container {
  margin-left: 5rem;
}
#bio-title {
  color: #ff7b00;
  font-weight: 500;
  font-size: 1.3rem;
}
#bio-text {
  width: 80%;
  margin-left: 1rem;
}
.section-divider {
  width: 75%;
  border: 0.5px solid rgba(128, 128, 128, 0.11);
  margin-left: 5rem;
  text-align: center;
}
#info-title {
  color: rgb(85, 85, 85);
  font-weight: 500;
  width: 10rem;
}

.action-buttons {
  background-color: #ff8b1e;
  border-radius: 2rem;
  color: white;
  width: 75%;
  transition: 0.1s all ease-in;
}
.accept:hover {
  background-color: #ff7300;
  color: white;
}
.decline:hover {
  background-color: #ff5100;
  color: white;
}
.on-hold:hover {
  background-color: #3f2104;
  color: white;
}
