* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

#navigation-pane {
  height: 25vh;
  width: 100%;
  background-image: linear-gradient(
    to bottom right,
    rgba(34, 42, 183, 0.27),
    rgba(0, 183, 230, 0.7)
  );
  position: relative;
}
.oval {
  position: absolute;
  bottom: 0;
  width: 100%;
  fill: white;
}
#nav-bar {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 4fr 1fr 1fr;
}
#nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  white-space: nowrap;
  padding-top: 10vh;
}
#logo {
  padding-top: 5vh;
}
#nav-buttons {
  padding-top: 9vh;
}
.register {
  background-color: orangered;

  padding: 12px 20px 12px 20px;
  border-radius: 20px;
  color: white;
}
#login-form {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
}
#login-form-box {
  margin-top: 10vh;
  border: 2px solid #ff7c00;
  padding: 3vh 3vh;
  border-radius: 30px;
}
#login-icon {
  text-align: center;
}
#login-svg {
  height: 10vw;
  width: 10vw;
}
