* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

#navigation-pane {
  height: 23vh;
  width: 100%;
  background-image: linear-gradient(
    to bottom right,
    rgba(34, 42, 183, 0.27),
    rgba(0, 183, 230, 0.7)
  );
  position: relative;
}
#login-form {
  display: grid;
  grid-template-columns: 4.2fr 3.6fr 4.2fr;
}
#form-box {
  margin-top: 2vh;
  margin-bottom: 10vh;
  border: 2px solid #ff7c00;
  padding: 3vh 3vh;
  border-radius: 30px;
}
#form-icon {
  text-align: center;
}
#form-icon-svg {
  padding-top: 3vh;
  height: 5vw;
  width: 5vw;
}
#form-title {
  text-align: center;
  padding-top: 15px;
  font-size: 1.5rem;
  color: #ff7c00;
}
#input-fields {
  display: grid;
  grid-template-columns: 0.3fr 3.4fr 0.3fr;
  padding-top: 1rem;
}

#user-field {
  margin-bottom: 1rem;
}
.form-input {
  font: inherit;
  font-size: 1rem;
  padding: 1rem 0rem 1rem 1.5rem;

  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.28);
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
}
.form-input:focus {
  outline: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.28);
  border-bottom: 3px solid #ff7c00;
  transition: 0.2s;
}
.form-input:focus:invalid {
  border-bottom: 3px solid red;
}
.form-label {
  padding-left: 1.3rem;
  padding-top: 0.5rem;
  font-weight: 600;
  display: block;
  color: #ff7c00;
  transition: all 0.3s;
}

.form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
#forgot-pass {
  text-align: right;
  color: #ff7c00;
  text-decoration: underline;
}
#log-in-block {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  padding-top: 2rem;
}
.log-in-button {
  background-color: orangered;
  width: 100%;
  padding: 12px 20px 12px 20px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}
