body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.navbar {
  z-index: 1;
  padding-bottom: 5vh;
  background: transparent !important;
}

.navbar-nav li {
  padding-top: 20px;
}
.navbar-nav li a {
  color: white !important;
}
.navbar-nav button {
  border-radius: 2rem !important;
  border: 2px solid white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.28);
}

#home-section {
  background: url("../img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 75vh;
}

#home-section .color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 75vh;
  background: linear-gradient(
    to bottom right,
    rgba(34, 42, 183, 0.27),
    rgba(0, 183, 230, 0.7)
  );
}

.navbar-dropdown {
  background: linear-gradient(
    to bottom right,
    rgba(34, 42, 183, 0.8),
    rgba(0, 183, 230, 0.8)
  ) !important;
}
#home-section .home-inner {
  padding-top: 125px;
}
#home-title {
  color: white;
  font-family: "Abel", sans-serif;
}
.oval-svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  fill: white;
}
.btn-register {
  background-color: rgb(235, 63, 0);
  padding: 10px 40px;
  border-radius: 30px;
  color: white;
  font-size: 0.9rem;
  white-space: nowrap;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.28);
  transition: 0.3s ease-out;
}
.btn-register:hover {
  background-color: rgb(243, 65, 0);
  text-decoration: none;
  color: white;

  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

#learn-text {
  color: #ff7c00;
  padding-top: 1rem;
  text-decoration: none;
}
#services {
  padding-bottom: 10vh;
}
#section-title {
  font-size: 2rem;
  color: #ff7c00;
  font-weight: 400;
  padding-top: 4vh;
}
#section-desc {
  color: #8b8a8a;

  font-size: 1.3rem;
}
#services .card {
  width: 75%;
  /* height: 250px; */
  border-radius: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.28);
}
#services .card-title {
  font-weight: 600;
  color: #ff7c00;
}
#services .card-text {
  color: #8b8a8a;
}

#why-us img {
  height: 30vw;
}

#footer-svg {
  position: absolute;
  fill: #ff7c00;
}
#contact-block {
  z-index: 1;
  transform: translateY(5vh);
  margin-top: 10vh;
  color: white;
  background-color: #ff7c00;
}

#contact-details {
  padding-top: 5vh;
}
.footer-icon {
  width: 20px;
}
.contact-field {
  font-size: 0.95rem;
  padding-top: 20px;
  padding-left: 20px;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border: 7px solid black;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #f27600, #ffec71);
  border-radius: 3px;
}
