body {
  background-color: #e0e0e0;
  font-family: "Roboto", sans-serif; }

.nav-icons {
  font-size: 1.5rem; }

.dropdown-item:hover {
  background-color: #f7a269; }

.dash-buttons {
  margin-top: 1rem; }
  .dash-buttons .btn-apply {
    border-radius: 1rem;
    background-color: #e27115;
    color: white;
    width: 200px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 1rem; }

.announcement-box {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #f7f7f7;
  border-radius: 2rem;
  width: 80%; }
  .announcement-box .title {
    color: #e27115;
    padding-top: 1rem;
    padding-left: 1.5rem;
    font-size: 1.5rem; }
  .announcement-box .title-underline {
    margin-top: 0rem;
    border: 2px solid #e27115;
    width: 13vw;
    margin-left: 1.5rem;
    transition: 0.2s width ease-out; }
  .announcement-box .announcement-text {
    font-size: 1.2rem;
    line-height: 1.5rem;
    width: 90%;
    padding-bottom: 1.5rem;
    color: #7e7e7e; }
  .announcement-box .ann-container {
    margin-left: 2rem;
    cursor: pointer; }
    .announcement-box .ann-container .title-1 {
      color: #e27115;
      font-weight: 600;
      font-size: 1.2rem; }
    .announcement-box .ann-container .title-2 {
      color: #6e6e6e;
      font-weight: 600; }
    .announcement-box .ann-container .ann-date {
      padding-left: .5rem; }
    .announcement-box .ann-container .ann-desc {
      width: 80%; }
    .announcement-box .ann-container a {
      text-decoration: none; }
    .announcement-box .ann-container .view-details {
      height: 0rem;
      opacity: 0;
      margin-bottom: 1rem;
      transition: 0.1s ease-out; }
      .announcement-box .ann-container .view-details #view-details-hr {
        width: 0%;
        transform: translateY(-1rem);
        transition: .2s width ease-out; }
    .announcement-box .ann-container #ann-hr {
      width: 90%; }
  .announcement-box .ann-container:hover .view-details {
    height: 1rem;
    opacity: 100%;
    color: #e27115; }
  .announcement-box .ann-container:hover #view-details-hr {
    width: 8%;
    border: 1px solid #f7a269; }

.announcement-box:hover .title-underline {
  width: 14vw; }

.vector-img:hover {
  transform: translateY(-0.5rem); }

.application-status {
  margin-left: auto;
  padding-right: 1rem; }

.status-underline {
  margin-top: 0rem;
  border: 2px solid #e27115;
  width: 18vw;
  margin-left: 1.5rem;
  transition: 0.2s width ease-out; }

.announcement-box:hover .status-underline {
  width: 20vw; }
