#user-dropdown-menu {
  padding-top: 10px;
}

.navbar .dropdown-menu a {
  color: orangered !important;
}

#dash-cards .card {
  border-radius: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.28);
  padding-bottom: 0.5rem;
}
#dash-cards .card-title {
  margin-top: 2rem;
  font-weight: 300;
  color: #ff7c00;
}
.ann-container {
  border: 1px solid rgba(128, 128, 128, 0.658);
  color: #616161;
}
.dash-action-text {
  padding-top: 1.5rem;
  padding-right: 1rem;
  font-size: 1.5rem;
  color: #ff7c00;
}
#relocation {
  margin-top: 2rem;
}
#rel-text {
  padding-top: 1rem;
}
#rel-icon {
  /* padding-left: 1rem; */
}
