@import "color_scheme";

.profile-pic-block {
  .profile-pic {
    border-radius: 50%;
  }
  .profile-button {
    background-color: $color-light;
    color: white;
    border-radius: 1rem;
  }
  &:hover .profile-button {
    background-color: $color-primary;
  }
}

.user-name {
  font-size: 1.5rem;
  color: $color-form-strong;
}
.user-detail-block {
  color: $grey-text;
  .user-block-desc {
    color: $grey-text-darker;
    font-weight: 600;
    #ad-date {
      color: $grey-text-dark;
      font-size: 0.7rem;
    }
  }
}

#bio-title {
  color: $color-primary;
  font-weight: 500;
  font-size: 1.3rem;
}

.section-divider {
  width: 50%;
  border: 0.5px solid rgba(128, 128, 128, 0.11);
  margin-left: 5rem;
  text-align: center;
}
#info-title {
  color: $grey-text-darker;
  font-weight: 500;
  width: 10rem;
}
