@import "color_scheme";

body {
  background-color: $color-grey-dark;
  font-family: "Roboto", sans-serif;
}

.nav-icons {
  font-size: 1.5rem;
}
.dropdown-item:hover {
  background-color: $color-primary-muted;
}

.dash-buttons {
  margin-top: 1rem;
  .btn-apply {
    border-radius: 1rem;
    background-color: $color-primary;
    color: white;
    width: 200px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.user-training-info {
  a {
    text-decoration: none;
  }
  cursor: pointer;
  background-color: $color-grey-light;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
  .title {
    color: $color-primary;
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 1.5rem;
  }
  .title-underline {
    margin-top: 0rem;
    border: 2px solid $color-primary;
    width: 13vw;
    margin-left: 1rem;
    transition: 0.2s width ease-out;
  }
  .placement-details {
    margin-left: 1.5rem;
    padding-bottom: 2rem;

    .title-1 {
      color: $grey-text-dark;
      font-weight: 600;
    }
    .title-2 {
      padding-left: 0.5rem;
    }
  }
  .view-details {
    height: 1rem;
    opacity: 0;
    margin-bottom: 1rem;

    transition: 0.1s ease-out;
    &:hover #view-details-hr {
      width: 20%;
      border: 1px solid $color-primary-muted;
    }
    #view-details-hr {
      width: 0%;
      transform: translateY(-1rem);
      transition: 0.2s width ease-out;
    }
  }
  #ann-hr {
    width: 90%;
  }
  &:hover .view-details {
    height: 1rem;

    opacity: 100%;
    color: $color-primary;
  }

  #view-details-hr {
    width: 0%;
    transform: translateY(-1rem);
    transition: 0.2s width ease-out;
  }
}

.announcement-box {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: $color-grey-light;
  border-radius: 2rem;

  .title {
    color: $color-primary;
    padding-top: 1rem;
    padding-left: 1.5rem;
    font-size: 1.5rem;
  }
  .title-underline {
    margin-top: 0rem;
    border: 2px solid $color-primary;
    width: 13vw;
    margin-left: 1.5rem;
    transition: 0.2s width ease-out;
  }
  .announcement-text {
    font-size: 1.2rem;
    line-height: 1.5rem;
    width: 90%;
    padding-bottom: 1.5rem;
    color: $grey-text;
  }
  .ann-container {
    margin-left: 2rem;
    cursor: pointer;

    .title-1 {
      color: $color-primary;
      font-weight: 600;
      font-size: 1.2rem;
    }
    .title-2 {
      color: $grey-text-dark;
      font-weight: 600;
    }
    .ann-date {
      color: $grey-text-darker;
      padding-left: 0.5rem;
    }
    .ann-desc {
      color: black;
      width: 80%;
    }
    a {
      text-decoration: none;
    }

    .view-details {
      height: 1rem;
      opacity: 0;
      margin-bottom: 1rem;

      transition: 0.1s ease-out;
      #view-details-hr {
        width: 0%;
        transform: translateY(-1rem);
        transition: 0.2s width ease-out;
      }
    }
    #ann-hr {
      width: 90%;
    }
  }
  .ann-container:hover .view-details {
    height: 1rem;

    opacity: 100%;
    color: $color-primary;
  }
  .ann-container:hover #view-details-hr {
    width: 8%;
    border: 1px solid $color-primary-muted;
  }
}

.announcement-box:hover .title-underline {
  width: 14vw;
}

.vector-img:hover {
  transform: translateY(-0.5rem);
}

.application-status {
  margin-left: auto;
  padding-right: 1rem;
}

.status-underline {
  margin-top: 0rem;
  border: 2px solid $color-primary;
  width: 18vw;
  margin-left: 1.5rem;
  transition: 0.2s width ease-out;
}

.announcement-box:hover .status-underline {
  width: 20vw;
}
