@import "../../sass/color_scheme";
@import "variables";

body {
  background-color: $color-grey-light;
}

.sidebar {
  position: fixed;
  background-color: $color-primary;
  top: 0;
  left: 0;
  width: $sidebarWidth;

  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  &::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }
  height: 100vh;
  white-space: nowrap;
  .lbp-logo {
    .logo-svg {
      cursor: pointer;
      background-color: $color-grey-light;

      margin-top: 10px;
      border-radius: 1rem;
    }
  }

  .sidebar-components {
    margin-left: 1rem;
    a {
      text-decoration: none;
      color: $color-grey-light;
    }
    li {
      margin-top: 1.5rem;
    }
    .highlight {
      padding: 10px 30px 10px 5px;
      border-radius: 1rem;
      transition: 0.2s all ease-out;
    }
    .active-page .highlight {
      background-color: $color-grey-light;
      color: $color-primary;
    }
    .highlight:hover {
      background-color: $color-primary-muted;
      color: white;
    }
    .active-page:hover .highlight {
      background-color: $color-primary-muted;
      color: white;
    }
  }
}

.active-page-members {
  .highlight {
    background-color: $color-grey-light;
    color: $color-primary;
  }
}

.submenu {
  margin-top: 1rem;
  .highlight-active {
    padding: 10px 30px 10px 5px;
    border-radius: 1rem;
    transition: 0.2s all ease-out;
    background-color: $color-grey-light;
    color: $color-primary;
    &:hover {
      background-color: $color-primary-muted;
      color: white;
    }
  }
}
.submenu a {
  display: block;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
}
.submenu .highlight {
  background-color: $color-primary;
  color: $color-grey-light;
}

.main-content {
  margin-left: $sidebarWidth;
}
