@import "../../sass/color_scheme";

#section-title {
  color: $color-primary;
  font-weight: 500;
  font-size: 1.3rem;
}
#bio-text {
  width: 80%;
  margin-left: 1rem;
}
.section-divider {
  width: 75%;
  border: 0.5px solid rgba(128, 128, 128, 0.11);
  margin-left: 5rem;
  text-align: center;
}
#info-title {
  color: rgb(85, 85, 85);
  font-weight: 500;
  width: 10rem;
}
.perform-action {
  margin-top: 2rem;
  .perform-action-btn {
    border-radius: 1.5rem;
    background-color: $color-primary;
    border: 0.5px solid $color-form-primary;
    color: $color-grey-light;
  }
}
