.form-title {
  color: #e27115;
  width: fit-content;
  padding-left: 1.5rem;
  font-weight: 600;
  font-size: 1.5rem;
  transform: translateY(-10px); }

.back-button {
  font-weight: 400; }

.title-underline {
  margin-top: 0rem;
  border: 2px solid #e27115;
  width: 100px;
  margin-left: 0;
  transition: 0.2s width ease-out; }

.form-card {
  background-color: white;
  border: 1px solid #fc8931;
  border-radius: 2rem; }

.edit-icon {
  transform: translateY(30px); }
  .edit-icon .icon-circle {
    background-color: #e2884a;
    color: white;
    padding: 10px 15px;
    border-radius: 50%; }
    .edit-icon .icon-circle:hover {
      cursor: pointer;
      background-color: #fc8931; }
