#card-section {
  border: 1px solid #fc8931;
  border-radius: 1rem; }

.card-title {
  color: #fc8931;
  margin-top: 1rem; }

.card-subtitle {
  color: #7e7e7e; }

.profile-block {
  margin-top: 2rem; }
  .profile-block .profile-pic {
    border-radius: 1rem; }
  .profile-block .user-name {
    font-size: 1.5rem;
    color: #ff7c00; }
  .profile-block .user-detail-block {
    color: #7e7e7e; }
    .profile-block .user-detail-block .user-block-desc {
      color: #666666;
      font-weight: 600; }
      .profile-block .user-detail-block .user-block-desc #ad-date {
        color: #6e6e6e;
        font-size: 0.7rem; }

#bio-title {
  color: #ff7b00;
  font-weight: 500;
  font-size: 1.3rem; }

#bio-text {
  width: 80%;
  margin-left: 1rem; }

.section-divider {
  width: 75%;
  border: 0.5px solid rgba(128, 128, 128, 0.11);
  margin-left: 5rem;
  text-align: center; }

#info-title {
  color: #666666;
  font-weight: 500;
  width: 10rem; }

.action-buttons {
  background-color: #ff8b1e;
  border-radius: 2rem;
  color: white;
  width: fit-content;
  transition: 0.1s all ease-in; }

.accept:hover {
  background-color: #ff7300;
  color: white; }

.decline:hover {
  background-color: #ff5100;
  color: white; }

.on-hold:hover {
  background-color: #3f2104;
  color: white; }
